.AllLogo{
    color:#66FCF1;
    text-align: center;
}
.ArrayStart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.OneStart{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #1F2833;
    border-radius: 20px;
    padding:1vh;
    width: max-content;
    height: max-content;
    color:white;
    margin: 0.5vh;

}
.btnAbout{
    width: max-content;
    background-color:#1F2833 ;
    border-color:  #66FCF1;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    color: white;
    margin: 1vh;
}
.btnAbout:hover{
    border-color: #66FCF1;
    -moz-box-shadow:0 0 30px #66FCF1;
-webkit-box-shadow:0 0 30px #66FCF1;
box-shadow:0 0 30px #66FCF1;
}