.Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.LogoMain{
    color: white;
    text-align: center;
    font-size: 2vh;
    margin-right:5vw ;
}
.LogoMain h1{
    color: #66FCF1;
    font-weight: 640;
    font-size: 10vh;
    margin:auto;
}
.LogoMain button{
    background-color:#1F2833 ;
    border-color:  #45A29E;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    color: white;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2vh;
}
.LogoMain button:hover{
    background-color:#66FCF1 ;
    border-color:  #45A29E;
    color:rgb(116, 116, 116);
}